# ============================================================
# PYTHON
# ============================================================

.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd


# ============================================================
# ENVIRONMENT VARIABLES
# ============================================================

.env


# ============================================================
# DATASETS
# ============================================================

# Raw Scania datasets
data/raw/*

# Generated processed datasets
data/processed/*


# ============================================================
# MODEL FILES
# ============================================================

*.pkl
*.joblib
*.parquet

# Trained model binaries
results/models/


# ============================================================
# LOGS
# ============================================================

logs/
*.log


# ============================================================
# STREAMLIT
# ============================================================

.streamlit/


# ============================================================
# PYTEST
# ============================================================

.pytest_cache/


# ============================================================
# IDE / SYSTEM FILES
# ============================================================

.vscode/
.idea/
.DS_Store
Thumbs.db