.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

.ipynb_checkpoints/

.env

data/raw/*
data/processed/*
data/features/*

*.csv
*.parquet
*.pkl
*.joblib

results/
logs/
*.log

.streamlit/

.vscode/
.DS_Store
Thumbs.db